body {
	background-color : #6B778D;
	
}

header section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 300px;
	flex-grow: 0;
	margin-top: 30px;
}


header input {
	width: 700px;
	padding: 5px;
	padding-left: 10px;
	
	background-color: #263859;
	font-size : 1.1em;
	border-radius: 10px;
	border: none;
	padding-top: 8px;
	color : white;
	
}

header input::placeholder{
	color: white;

}

.logo {
	color : #FF6768;
	font-size : 2em;
	margin-left: 30px;
}

header section table{
	margin-right : 50px;
	border: 1px solid #17223B;
	color : white;
	background-color : #263859;
	border-radius: 10px;
}

header section table tr td{
	padding: 5px;
	cursor: pointer;
}

header section table tr td:last-child{
	border-left: 1px solid white;
}



nav ul{
	display: flex;
	justify-content: space-between;
	list-style: none;
	color: white;
	font-size: 1.5em;
	background-color: #263859;
	height: 50px;
	align-items: center;
}
nav ul a{
	color: white;
	text-decoration: none;	
}
nav ul a:hover{
	color: black;	
}
nav ul li:last-child {
	margin-right: 100px;
}

nav ul li:first-child {
	margin-left: 100px;
}

aside{
	background-color: #263859;
	color : white;
	font-size: 1.2em;
	padding-top : 10px;
	padding-bottom: 10px;	
	margin-left:20px;
}

aside table {
	width: 250px;
	
}

aside table th{
	padding-bottom : 10px;
	border-bottom: 1px solid white;
}

aside table td{
	padding-left: 20px;
}

#mainDoc{
	display: flex;
	justify-content: space-between;
}


#mainDoc section article{
	background-color: #263859;
	padding-left: 25px;
	height: 250px;
	margin-left: 20px;
	width: 1200px;
}

#mainDoc section article:last-child{
	margin-top: 5%;
}

#mainDoc section h3 {
	color: white;
	font-size : 1.3em;
	margin-top: 0;
}

.gameBox{
	display:inline-block;
	width: 250px;
	height: 180px;
	background-color: white;
	margin-left: 10%
}

#loginForm{
	background-color: #263859;
	width: 20%;
	margin-left: 20px;
	margin-right:20px;
}

footer{
	height: 200px;
	width: 100%;
	background-color: #263859;
	margin-top: 20px;
	
}

	td h1{
	font-size: 0.8em;
	margin: 0;
	}
        .modal .title {
            padding-left: 10px;
            display: inline;
            color: #FF6768;
            padding-top: 10px;
            
        }
        .modal .title h2 {
            display: inline;
        }
		.modal .titleBar{
			height: 10px;
			width: 100%;
			background-color: white;		
		}
        .modal .content {
            margin-top: 10px;
            padding: 0px 10px;
            text-shadow: 1px 1px 2px gray;
            border-top:10px solid white;
        }
        
        .modal form{
        	margin-top:20px;
        	padding-top : 30px;
			background-color: #263859;
			border-radius: 10px;
			height: 400px;
        }
        
         .modal #loginForm{
        	margin-top:20px;
        	padding-top : 30px;
			background-color: #263859;
			border-radius: 10px;
			height: 250px;
			width: 95%;
        }
       .modal form p{
       	color: white;
       	display: inline-block;
       	margin-left: 40px;
       }
       .modal form .lastP{
       	float: right;
       	margin-right: 40px;
       }
		.modal input{
			display: block;
			margin: 0 auto;
			height: 25px;
			font-size: 1.2em;
			margin-top: 10px;
			padding-top: 10px;
			width: 400px;
			background-color: #C4C4C4;
			
		} 
		
		.modal input::placeholder{
            color: #FF6768;
            padding-left: 10px;
		}
		
		.modal input[type="button"]{
			border-radius: 5px;
			color: #FF6768;
			align-content: center;
			height: 50px;
			margin-bottom: 10px;
			cursor: pointer;
		}

		#uFirstName{
			width: 100px;
			display: inline-block;
			margin-left:25px;
			
		}

		#uLastName{
			width: 250px;
			display: inline-block;
			margin-left:30px;
		
		}
		
		.modal h3 {
			display: inline-block;
			color: #FF6768 !important;
			margin: 0;
			margin-left: 30px;
			
		}
		
		.modal input[type="radio"] {
			display: inline-block;
			width: 100px !important;
		}
		
		.modal label {
			display: inline-block;
			color: #FF6768 !important;
			margin-left: 30px;
		}

		/* mystyle.css */
/* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        /* Modal Content/Box */
        .modal-content {
            background-color: #c4c4c4;
            margin: 10% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 25%; /* Could be more or less, depending on screen size */
        }
        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
		